.main-menu.menu-fixed.menu-dark.menu-accordion.menu-shadow(data-scroll-to-active='true')
    .main-menu-content
        ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
            li.navigation-header
                br
                span General
                i.ft-minus(data-toggle='tooltip', data-placement='right', data-original-title='General')
            li.nav-item
                a(href='#')
                    i.ft-home
                    span.menu-title(data-i18n='') Proyecto
                    span.tag.tag.tag-primary.tag-pill.float-xs-right.mr-2 3
                ul.menu-content
                    li.active
                        a.menu-item(href='/proyecto') Iniciar
                    li
                        a.menu-item(href='nuevo') Nuevo
                    li
                        a.menu-item(href='asignar') Asignar