.main-menu.menu-fixed.menu-dark.menu-accordion.menu-shadow(data-scroll-to-active='true')
    .main-menu-content
        ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
            li.navigation-header
                span General
                i.ft-minus(data-toggle='tooltip', data-placement='right', data-original-title='General')
            li.nav-item
                a(href='index-2.html')
                    i.ft-home
                    span.menu-title(data-i18n='') Dashboard
                    span.tag.tag.tag-primary.tag-pill.float-xs-right.mr-2 3
                ul.menu-content
                    li.active
                        a.menu-item(href='dashboard-ecommerce.html') eCommerce
                    li
                        a.menu-item(href='dashboard-analytics.html') Analytics
                    li
                        a.menu-item(href='dashboard-fitness.html') Fitness
            li.nav-item
                a(href='#')
                    i.ft-monitor
                    span.menu-title(data-i18n='') Templates
                ul.menu-content
                    li
                        a.menu-item(href='#') Vertical
                        ul.menu-content
                            li
                                a.menu-item(href='https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/html/ltr/vertical-modern-menu-template') Modern Menu
                    li
                        a.menu-item(href='#') Horizontal
                        ul.menu-content
                            li
                                a.menu-item(href='https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/html/ltr/horizontal-menu-template') Classic
            li.nav-item
                a(href='#')
                    i.ft-layout
                    span.menu-title(data-i18n='') Layouts
                ul.menu-content
                    li
                        a.menu-item(href='#') Page Layouts
                        ul.menu-content
                            li
                                a.menu-item(href='layout-1-column.html') 1 column
                            li
                                a.menu-item(href='#') Content Det. Sidebar
                                ul.menu-content
                                    li
                                        a.menu-item(href='layout-content-detached-left-sidebar.html') Detached left sidebar
                            li.navigation-divider
                            li
                                a.menu-item(href='layout-fixed-navbar.html') Fixed navbar
                    li
                        a.menu-item(href='#') Navbars
                        ul.menu-content
                            li
                                a.menu-item(href='navbar-light.html') Navbar Light
                            li
                                a.menu-item(href='#') Hide on Scroll
                                ul.menu-content
                                    li
                                        a.menu-item(href='navbar-hide-on-scroll-top.html') Hide on Scroll Top
                                    li
                                        a.menu-item(href='navbar-hide-on-scroll-bottom.html') Hide on Scroll Bottom
                            li
                                a.menu-item(href='navbar-styling.html') Navbar Styling
            li.nav-item
                a(href='#')
                    i.ft-zap
                    span.menu-title(data-i18n='') Starter kit
                    span.tag.tag.tag-danger.tag-pill.float-xs-right.mr-2 New
                ul.menu-content
                    li
                        a.menu-item(href='https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/starter-kit/ltr/vertical-modern-menu-template/layout-1-column.html') 1 column
                    li
                        a.menu-item(href='#') Content Det. Sidebar
                        ul.menu-content
                            li
                                a.menu-item(href='https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/starter-kit/ltr/vertical-modern-menu-template/layout-content-detached-left-sidebar.html') Detached left sidebar
                    li.navigation-divider
            li.navigation-header
                span Apps
                i.ft-minus(data-toggle='tooltip', data-placement='right', data-original-title='Apps')
            li.nav-item
                a(href='chat-application.html')
                    i.ft-message-square
                    span.menu-title(data-i18n='') Chat Application
            li.nav-item
                a(href='#')
                    i.ft-share
                    span.menu-title(data-i18n='') Timelines
                ul.menu-content
                    li
                        a.menu-item(href='timeline-center.html') Timelines Center
            li.nav-item
                a(href='#')
                    i.ft-user
                    span.menu-title(data-i18n='') Users
                ul.menu-content
                    li
                        a.menu-item(href='user-profile.html') Users Profile
                    li
                        a.menu-item(href='user-cards.html') Users Cards
            li.nav-item
                a(href='under-maintenance.html')
                    i.ft-cloud-off
                    span.menu-title(data-i18n='') Maintenance
            li.navigation-header
                span Others
                i.ft-minus(data-toggle='tooltip', data-placement='right', data-original-title='Others')
            li.nav-item
                a(href='#')
                    i.ft-align-left
                    span.menu-title(data-i18n='') Menu levels
                ul.menu-content
                    li
                        a.menu-item(href='#') Second level
                    li
                        a.menu-item(href='#') Second level child
                        ul.menu-content
                            li
                                a.menu-item(href='#') Third level
                            li
                                a.menu-item(href='#') Third level child
                                ul.menu-content
                                    li
                                        a.menu-item(href='#') Fourth level
                                    li
                                        a.menu-item(href='#') Fourth level
            li.nav-item
                a(href='changelog.html')
                    i.ft-file
                    span.menu-title(data-i18n='') Changelog
                    span.tag.tag.tag-pill.tag-info.float-xs-right 1.1
            li.disabled.nav-item
                a(href='#')
                    i.ft-slash
                    span.menu-title(data-i18n='') Disabled Menu
